# Resources
Helper Resources/
Learning Resources/
Resources/

# Ignore venv folders globally
venv/

# Ignore environment files
.env

# Ignore IDE files
# JetBrains IDE - IntelliJ IDEA and PyCharm
.idea/

# Ignore system files
.DS_Store

create_venv_steps.rtf